<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mappers.BoardMapper">
  
  		<!-- 글쓰기 -->
  		<insert id="createBoard">
  		insert into tbl_board(title,writer,content)
  		values(#{title},#{writer},#{content})
  		</insert>
  		
  		<!-- 글목록조회 -->
  		<select id = "selectBoardList" resultType="BoardVO">
  		select * from tbl_board order by regdate desc
  		</select>  	
  </mapper>  
  